/*==============================================
Fonts
==============================================*/

/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */

@font-face {
    font-family: 'Lato';
    src: url('Lato-Regular.ttf') format('ttf'),
        url('Lato-Bold.ttf') format('ttf'),
        url('Lato-Thin.ttf') format('ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*==============================================
Main Styles
==============================================*/
#container {
    width: 100%;
    height: 100vh;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper {
    width: 100%;
    height: inherit;
}

.swiper-slide img {
    width: 100%;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #fff;
}

.swiper .swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-slide {
    text-align: center;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


/*==============================================
Modal
==============================================*/
#timerWrapper {
    position: fixed;
    height: 300px;
    width: 400px;
    /* max-width: 75vw;
    max-height: 75vh; */
    border-radius: 10px;
    background: white;
    z-index: 2;
    display: none;
    transition: all ease 1s;
}

#timer {
    display: block;
    width: 100%;
    margin: auto;
    padding-top: 60px;
    text-align: center;
    font-size: 150px;
    font-family: 'Lato', sans-serif;
}

#continue {
    color: #fff;
    background: red;
    border: none;
    padding: 10px 20px;
    margin-right: 20px;
    float: right;
    cursor: pointer;
}

#modal-background {
    display: none;
}

.modal-bg-fade-in {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: .7;
    display: block;
    z-index: 1;
}

.fade-in-modal {
    animation: fadeInModal 1s;
    -webkit-animation: fadeInModal 1s;
    -moz-animation: fadeInModal 1s;
    -o-animation: fadeInModal 1s;
    -ms-animation: fadeInModal 1s;
}

@keyframes fadeInModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeInModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeInModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeInModal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.fade-out-modal {
    animation: fadeOutModal 1s;
    -webkit-animation: fadeOutModal 1s;
    -moz-animation: fadeOutModal 1s;
    -o-animation: fadeOutModal 1s;
    -ms-animation: fadeOutModal 1s;
}

@keyframes fadeOutModal {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOutModal {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOutModal {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@-o-keyframes fadeOutModal {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOutModal {
    100% {
        opacity: 1;
    }

    0% {
        opacity: 0;
    }
}